---
layout: layout.liquid
title: 11ty Boilerplate
---
<h2>Cosmic cronhicles blog</h2>
<img alt="pine" src="/images/pine.png" width="50" />
<ul>
  <li><a href="/Blog.html">Blog Post 1</a></li>
  <li><a href="/Blog2.html">Blog Post 2</a></li>
</ul>

<p>Embark on an astronomical journey through the depths of our 
galaxy and beyond with our captivating blog posts. Delve into 
the mysteries of distant stars, uncovering their origins, 
behaviors, and extraordinary phenomena. From the birth of 
celestial bodies to the cosmic dances of galaxies, our articles
 offer a rich tapestry of exploration, education, and 
 awe-inspiring discoveries.<p>
